.TodoList {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Todo-item {
    flex: 1 1 auto;
    position: relative;
    line-height: 40px;
    min-height: 40px;
    align-content: center;
}

.Todo-item + .Todo-item {
    border-top: solid 1px lightgray;
}